body {
    color: aliceblue;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at center, #007bff 0%, #004080 20%, #001a33 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    margin: 0;
    padding: 0 4%; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.minha-foto img{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--cor-principal);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    margin: 20px;

}

ul,ol {
    list-style: none;
    margin: 2px;
}

li{
    margin: 5px;
}

article div{
    font: normal 20px arial;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 540px;
    height: 180px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 10px;
    transition: transform 0.2s;
}

div:hover{
    transform: scale(1.05);
}

footer{
    margin-top: 50px;
}
#links{
    justify-content: space-around;
    display: flex;
    text-align: center;
    color: antiquewhite;
}
a{
    color: aliceblue;
}