/* ===== TELA DE CARREGAMENTO PARA TUDO ===== */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255,255,255,1), rgba(220,220,220,0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Oculta suavemente */
.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Container da barra */
.progress-bar-container {
    width: 100%;
    max-width: 900px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

/* Barra animada */
.progress-bar {
    width: 0px;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 56, 112, 1), rgba(48, 101, 154, 1));
    animation: fillProgress 2s ease-in-out forwards;
}

/* Animação da barra */
@keyframes fillProgress {
    from { width: 0; }
    to { width: 100%; }
}
