body {
  color: aliceblue;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at center, #007bff 0%, #004080 20%, #001a33 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin-top: 120px;
}

img {
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.25);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

#perfils {
  display: flex;
  justify-content: space-between;
}

#divSenha {
  position: fixed;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 400px;
  height: 500px;
  border-radius: 20px;
  background-color: #c1d3e7;
  z-index: 9999;
  font-size: 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease, transform 0.8s ease;
}


#divSenha.visivel {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}


#divSenha input[type="text"],
#divSenha input[type="password"] {
  margin: 20px auto 5px;
  width: 200px;
  padding: 12px 16px;
  border: 1px solid #d6e4d9;
  border-radius: 10px;
  font-size: 0.95rem;
  background-color: #fff;
  color: #1e3526;
  display: block;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="submit"] {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #377639f2;
  color: #fff;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 50px auto 40px;
  width: 200px;
}

#divSenha input[type="password"] {
    width: 200px;
}

input[type="button"]:hover {
  background-color: #2f6631;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgb(5, 5, 5), rgba(21, 21, 21, 0.7));
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#overlay.visivel {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.input-wrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
